
$primary-color: #8F04A8;
$secondary-color-A: #FFBF00;
$secondary-color-B: #35D4A4	;

@mixin button {
  border: none;
  background-color: $secondary-color-B;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  margin-top: 10vh ;
  margin-bottom: 10vh;
  color: $primary-color;
}
html{
  height: 100vh;
}
body {
  font-family: 'Sniglet', cursive;
  box-sizing: border-box;
  background: linear-gradient(to top, $primary-color, $secondary-color-B ) no-repeat;
}

.main {
  display: grid ;
  grid-template-rows: [row-line1] 60% [row-line2] 40% [row-last-line] ;
  grid-template-columns: [col-line1] 1fr [col-line2];
  justify-items: center;
}
.wrapper:last-child{
  display: grid;
  justify-items: center;
}
.game-field {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 300px;
  height: 300px;
  margin-top: 10vh;
}

.cells{
  border: 3px solid $secondary-color-B;
}

.reset {
  @include button;
}

@media screen and (min-width: 481px) and (max-width: 767px){

}
@media screen and (min-width: 768px) and (max-width: 1024px){

}