
$primary-color: #8F04A8;
$secondary-color-A: #FFBF00;
$secondary-color-B: #35D4A4	;

@mixin button {
  border: none;
  background-color: $secondary-color-B;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  margin-top: 10vh ;
  margin-bottom: 10vh;
  color: $primary-color;
  cursor: pointer;
  ;
}
html{
  height: 100vh;
}
body {
  font-family: 'Sniglet', cursive;
  box-sizing: border-box;
  background: linear-gradient(to top, $primary-color, $secondary-color-B ) no-repeat;
}

.main {
  display: grid ;
  grid-template-areas: "empty1 field empty2 ";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 500px 1fr;
  justify-items: center;

}
h1{
  font-size: 3em;
  font-weight: bold;
  color: $primary-color;
  margin: 10px;
}
h2{
  font-size: 2em;
  color: $primary-color;
  margin-bottom: 20px;
}
.wrapper {
  grid-area: field;
  text-align: center;

}
.empty1{
  grid-area: empty1;
}
.empty2{
  grid-area: empty2;
}

.game-field {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows :100px;
  grid-auto-columns :100px;
  grid-gap: 5px;
}

.cells{
  background-color: $secondary-color-B ;
}

.reset {
  @include button;
  &:hover{
    background-color: $primary-color ;
    color: $secondary-color-B ;
  }
}

@media all and (min-width: 380px) and (max-width: 640px){
.main{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 600px 1fr;
  grid-template-areas:
  "empty1"
  "field"
  "empty2"
}
}
