
$primary-color: #8F04A8;
$secondary-color-A: #FFBF00;
$secondary-color-B: #35D4A4	;

@mixin button {
  border: none;
  background-color: $secondary-color-B;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  margin-top: 10vh ;
  margin-bottom: 10vh;
  color: $primary-color;
  cursor: pointer;
  ;
}

html{
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Sniglet', cursive;
  box-sizing: border-box;
  background: linear-gradient(to top, $primary-color, $secondary-color-B ) no-repeat;
}

.main{
    display: grid ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 300px 1fr;
    grid-template-areas:
            "empty1"
            "field"
            "empty2";
    justify-items: center;
  }

h1{
  font-size: 2em;
  font-weight: bold;
  color: $primary-color;
  margin: 1em;
  grid-area: h1;
}
h2{
  font-size: 2em;
  color: $secondary-color-A;
  margin-bottom: 1em;
  grid-area: h2;
}
.wrapper {
  grid-area: field;
  text-align: center;

}
.empty1{
  grid-area: empty1;
}
.empty2{
  grid-area: empty2;
}

.game-field {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  min-width: 300px;
  min-height: 300px;
  grid-gap: 5px;
}

.cells{
  background-color: $secondary-color-B ;
}
.button-wrapper{
  grid-area: button;
}
.reset {
  @include button;
  &:hover{
    background-color: $primary-color ;
    color: $secondary-color-B;
  }
  grid-area: field;
}

@media screen and (max-width: 700px){
  .main {
    grid-template-areas: "empty1 field empty2";
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3,1fr);}
  .h1 {
    font-size: 3em;
  }

}

@media screen and (min-width: 412px) and (max-width: 812px) and (orientation: landscape){
  .wrapper {
    display: grid;
    grid-template-areas:
    "h1 field"
    "h2 button";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 65% 1fr;
    grid-gap: 1em;
    align-items: start;
  }
  .game-field{
    min-width: 200px;
    min-height: 200px;
    margin-top: 10vh;
  }

}
