html {
  height: 100%; }

body {
  height: 100%;
  font-family: 'Sniglet', cursive;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left bottom, left top, from(#8F04A8), to(#35D4A4)) no-repeat;
  background: linear-gradient(to top, #8F04A8, #35D4A4) no-repeat; }

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 300px 1fr;
  grid-template-areas: "empty1" "field" "empty2";
  justify-items: center; }

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #8F04A8;
  margin: 1em;
  grid-area: h1;
  -webkit-animation: header 2s ease;
          animation: header 2s ease; }

h2 {
  font-size: 2em;
  color: #FFBF00;
  margin-bottom: 1em;
  grid-area: h2; }

.wrapper {
  grid-area: field;
  text-align: center; }

.empty1 {
  grid-area: empty1; }

.empty2 {
  grid-area: empty2; }

.game-field {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 5px;
  -webkit-animation: fieldAmine 500ms;
          animation: fieldAmine 500ms;
  position: relative; }

.cells {
  background-color: #35D4A4;
  color: #FFBF00;
  font-size: 2em;
  padding-top: 15px; }

.button-wrapper {
  grid-area: button; }

.reset {
  border: none;
  background-color: #35D4A4;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  margin-top: 10vh;
  margin-bottom: 10vh;
  color: #8F04A8;
  cursor: pointer;
  -webkit-animation: header 2s ease;
          animation: header 2s ease;
  grid-area: field; }
  .reset:hover {
    background-color: #8F04A8;
    color: #35D4A4; }

@media screen and (min-width: 812px) {
  .main {
    grid-template-areas: "empty1 field empty2";
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr); }

  .game-field {
    grid-auto-columns: 100px;
    grid-auto-rows: 100px; }

  .h1 {
    font-size: 3em; } }
/*responsive for landscape orientation*/
@media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
  .wrapper {
    display: grid;
    grid-template-areas: "h1 field" "h2 button";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 65% 1fr;
    grid-gap: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .game-field {
    grid-template-columns: repeat(3, 65px);
    grid-template-rows: repeat(3, 65px);
    margin-top: 10vh; }

  .reset {
    margin-right: 10px; }

  .cells {
    font-size: 2em; } }
@-webkit-keyframes header {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes header {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fieldAmine {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }
@keyframes fieldAmine {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }
canvas {
  width: 270px;
  height: 270px;
  z-index: 3;
  position: absolute; }

/*# sourceMappingURL=style.css.map */